<div class="container">

			<h1>休日投稿</h1>

			<%= form_for(@content) do |f| %>

			    <h4>施設の名前を入力してね</h4>
			    <%= f.text_field :content_title %>
			    <h4>本文を入力してね</h4>
			    <%= f.text_area :body %>
			    <h4>URLを入力してね</h4>
			    <%= f.text_field :url %>

			    <h4>とっておきの一枚</h4>
			    <%= f.attachment_field :image %>
			    <%= f.submit '投稿',class: "btn btn-primary" %>

			    <%= f.hidden_field :blog_id,:value => @blog_id %>

			<% end %>
	</div>
<div>