<div class="container">

			<h1>休日投稿編集</h1>

			<%= form_for(@blog) do |f| %>

			    <h4>1日のタイトルを編集してね</h4>
			    <%= f.text_field :title %>

			    <h4>都道府県を編集してね</h4>
					<%= f.select :location, Blog.locations.keys, {prompt: '選択してください'} %>

			    <h4>この日のベストショットを選んでね</h4>
			    <%= f.attachment_field :image %>

			    <%= f.submit '編集完了',class: "btn btn-primary" %>

			<% end %>
	</div>
<div>