<div class="container">
	<div class = "seach">
		<%= search_form_for @search do |f| %>
		<%= f.label :location_cont, "都道府県名で検索" %>
		<%= f.search_field :location_cont %>

		<%= f.submit "検索",class:"btn btn-success" %>
		<% end %>
	</div>
	<div class="clearfix">


		<% @products.each do |blog| %>
		<div class ="main_blog">
			<div class ="sub">
				<%=link_to blog_contents_path(blog_id: blog.id) do %>
				<div class ="image"><%= attachment_image_tag blog, :image, format: 'jpeg', class: "sub-image"%>
				</div>
				<%end%>
				<div class = "top_title"><%= blog.title .truncate(48)%></div>
				<br>
				<span class = "place"><%= blog.location %></span>

			</div>
		</div>
		<% end %>
	</div>
</div>