<div class="container">
	<div class="clearfix">
		 <% @user.blogs.each do |user| %>
		    <div class ="main">
		    	<div class ="sub">
		    		<%=link_to blog_contents_path(user.id) do %>
				    <div class ="image"><%= attachment_image_tag user, :image, format: 'jpeg', class: "sub-image"%>
				    </div>
				    <%end%>
				    <div class = "title"><%= user.title %></div>
				    <br>
				    <span class = "place"><%= user.location %></span>
				    <%= link_to "編集", edit_blog_path(user.id) %>
			    </div>
		    </div>
		 <% end %>
	</div>
</div>