<!DOCTYPE html>
<html>
  <head>
    <title>Qplay</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body >
    <body>
    <nav class="navbar top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Holiday's Playlist</a>
        </div>
        <div class="collapse navbar-collapse" id="navigation">
          <%= link_to user_path(current_user.id) do %>
          <p class="navbar-text navbar-right">私の投稿</p>
          <% end %>
          <%= link_to new_blog_path(current_user.id) do %>
          <p class="navbar-text navbar-right">新規投稿</p>
          <% end %>
        </div>
      </div>
    </nav>
  </body>
    <%= yield %>
  </body>
</html>
